@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFC;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form {
    width: 300px;
    height: auto;
    display: flex;
    padding: 35px 25px 35px 25px;
    min-width: 200px;
    flex-direction: column;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
                  15px 15px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.container-form h1 {
    color: #1a1a1a;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.container-form form {
    gap: 35px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.inputs {
    width: 100%;
    height: auto;
    position: relative;
}

.inputs input {
    width: 100%;
    height: auto;
    padding: 13px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: .3s ease;
}

::placeholder {
    color: #1a1a1a;
}

.inputs input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.container-form button {
    width: 50%;
    height: auto;
    padding: 13px;
    border: 1px solid  transparent;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .3s ease;
}

.container-form button:hover {
    color: #1a1a1a;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

/* Validation */
.error {
    width: 100%;
    height: auto;
    color: red;
    font-size: 13px;
    font-weight: 400;
    position: absolute;
    left: 1%;
    bottom: -55%;
}

/* Interfaz de usuario */
.container-gestion {
    width: 400px;
    height: auto;
    border: 1px solid transparent;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    display: none;
    flex-direction: column;
    padding: 35px 25px 35px 25px;
}

.container-gestion h1 {
    color: #1a1a1a;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container-gestion ul {
    gap: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-gestion ul li {
    width: 80%;
    height: auto;
    padding: 13px;
    color: #fff;
    background-color: #1a1a1a;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: .3s ease;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.container-gestion ul li:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Interfaz Saldo */
.container-saldo {
    gap: 30px;
    width: 300px;
    height: auto;
    border: 1px solid transparent;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
                  15px 15px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    display: none;
    flex-direction: column;
    padding: 35px 25px 35px 25px;
}

.container-saldo h1 {
    color: #1a1a1a;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container-saldo span {
    color: #1a1a1a;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}

/* Container - Retirar */
.container-retirar {
    gap: 25px;
    width: 520px;
    height: auto;
    display: none;
    padding: 35px 25px 35px 25px;
    min-width: 200px;
    flex-direction: column;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
                  15px 15px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.inputs input {
    width: 100%;
    height: auto;
    padding: 13px;
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: .3s ease;
}

::placeholder {
    color: #1a1a1a;
}

.inputs input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

/* Container - depositar */
.container-depositar {
    gap: 25px;
    width: 560px;
    height: auto;
    display: none;
    padding: 35px 25px 35px 25px;
    min-width: 200px;
    flex-direction: column;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
                  15px 15px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

.botonRegresar {
    width: 10px 30px;
    height: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid transparent;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 9px;
    transition: .3s ease;
}

@media (min-width: 600px) {
    .container-form,
    .container-gestion,
    .container-saldo,
    .container-retirar,
    .container-depositar {
        max-width: 500px; 
    }

    .container-form h1,
    .container-gestion h1,
    .container-saldo h1,
    .container-retirar h1,
    .container-depositar h1 {
        font-size: 26px;
    }

    .inputs input {
        padding: 12px;
        font-size: 16px;
    }

    .container-form button,
    .botonRegresar {
        padding: 12px;
        font-size: 16px;
    }
}

.container-form,
.container-gestion,
.container-saldo,
.container-retirar,
.container-depositar {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 10px;
    box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.2),
                  15px 15px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}


@media (min-width: 900px) {
    .container-form,
    .container-gestion,
    .container-saldo,
    .container-retirar,
    .container-depositar {
        max-width: 600px;
    }

    .container-form h1,
    .container-gestion h1,
    .container-saldo h1,
    .container-retirar h1,
    .container-depositar h1 {
        font-size: 28px;
    }

    .inputs input {
        padding: 14px;
        font-size: 18px;
    }

    .container-form button,
    .botonRegresar {
        padding: 14px;
        font-size: 18px;
    }
}